body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    display: flex;
    flex-direction: row;
}
header > button {
    border: 1px solid #555;
    outline: 0;
    flex-grow: 1;
    padding: 1rem;
    background-color: #333;
    color: white;
    cursor: pointer;
}
header > button:hover {
    background-color: #ccc;
    color: black;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
}

.container {
    padding: 8px;
}
.container form {
    margin: 0 auto;
    margin-top: 2rem;
    width: 400px;
    display: block;
    align-self: center;

    display: flex;
    flex-direction: column;

    background-color: #ddd;
    padding: 2rem;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
}
label {
    align-self: center;
    width: 33%;
}

select, input {
    padding: 4px;
    flex-grow: 1;
}

.btn-group {
    display: flex;
}
form button {
    padding: 6px;
    border: 0;
    outline: none;
    margin: 0 2px;
    border-radius: 4px;
    border: 1px solid black;
    flex: 1;
    cursor: pointer;
}
.btn-submit {
    background-color: #b8c7da;
}
.btn-submit:hover {
    background-color: #92a4ba;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.05);
}
.btn-delete {
    display: none;
    background-color: rgb(219, 74, 21);
    color: white;
}
.btn-delete:hover {
    background-color: rgb(197, 57, 6);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.05);
}
/* ---- */

table  {
    
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
}
th, tr, td {
    border: 1px solid black;
}
td {
    padding: 4px;
}
.th {
    width: 25%;
}
tbody > tr {
    cursor: pointer;
}
tbody > tr:hover {
    background-color: #b8c7da;
;
}